<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common :: head(title='好好住 | 搜索结果')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--/*@thymesVar id="articles" type="com.apler.entity.search.MultiArticleWithType"*/-->
<!--/*@thymesVar id="keyword" type="String"*/-->
<body class="black-top">
<section th:replace="common/common :: search"></section>
<header th:replace="common/common :: header"></header>

<section class="nt-warp nt-warp-full" style="margin-top: 70px;">
    <div class="container">
        <div class="filter-menu text-center">
            <span><a th:href="@{/search/photo(keyword=${keyword})}">照片</a></span>
            <span><a th:href="@{/search/house(keyword=${keyword})}">整屋</a></span>
            <span class="active">文章</span>
            <span><a th:href="@{/search/question(keyword=${keyword})}">话题</a></span>
        </div>
        <main class="l-main">
            <div class="m-post-list row home-list">
                <div class="col-grid col-xs-12 col-sm-4 col-md-4"
                     th:fragment="houseList"
                     th:each="article : ${articles.articleWithTypeList}">
                    <article class="topic-grid owl-carousel owl-theme" style="margin-bottom: 45px;">
                        <div class="item">
                            <a href="/article/1234"
                               th:href="@{/article/{id}(id=${article.id})}"
                               target="_blank">
                                <div class="image"
                                     th:style="'background-image: url(' + ${article.picUrl} + ');'">
                                    <div class="category"><i class="icon icon-book-open"></i> 整屋</div>
                                    <div class="content">
                                        <div class="title">
                                            <h2 class="title-more"
                                                th:text="${article.title}">
                                                {{ object.photo.photo_info.remark }}
                                            </h2>
                                        </div>
                                        <div class="meta">
                                            <span>
                                                <i class="icon icon-user"></i>
                                                <th:block th:text="${article.userInfo.nick}">
                                                    {{ object.photo.user_info.nick }}
                                                </th:block>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="m-ajax-load">
                <div class="post-loading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <button th:attr="data-action='search/article',data-paged='2',data-append='home-list',data-keyword=${keyword}"
                        class="btn btn-primary dm-ajax-load">加载更多
                </button>
            </div>
        </main>
    </div>
</section>
<div th:replace="common/common :: footerJs"></div>

</body>
</html>