<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="answer" type="com.apler.entity.answer.Answer"*/-->
<head th:include="common/common :: head(title='好好住 | '+${answer.userInfo.nick}+'的回答')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="black-top">
<section th:replace="common/common :: search"></section>
<header th:replace="common/common :: header"></header>

<section class="nt-warp nt-warp-full" style="margin-top: 70px;">
    <div class="container" style="width:750px;">
        <main class="l-main">
            <div class="m-post">
                <div class="post-title style05">
                    <span class="categories">回答</span>
                    <h1><a th:href="@{/question/{qid}(qid=${answer.answerInfo.questionId})}" th:text="${answer.questionInfo.title}">问题title</a></h1>
                    <div class="post-data">
                        <div class="author-name">
                            <a href="/user/55555" th:href="@{/user/{uid}(uid=${answer.userInfo.uid})}" >
                                <img alt=''
                                     src='https://cdn2.jianshu.io/assets/default_avatar/avatar_default-78d4d1f68984cd6d4379508dd94b4210.png'
                                     th:src="${answer.userInfo.avatar}" class='avatar avatar-30 photo' height='30' width='30'/>
                                <th:block th:text="${answer.userInfo.nick}" >nickname</th:block>
                            </a>
                        </div>
                        <span class="u-time" th:text="${answer.answerInfo.addTime}">2015-11-23 12:54:23</span>
                        <span class="u-comment">
                            <i th:if="${answer.answerInfo.isFavorited} == 0" class="iconfont icon-favorites-o"></i>
                            <i th:if="${answer.answerInfo.isFavorited} != 0" class="iconfont icon-favoritesfilling"></i>
                            <th:block th:text="${answer.counter.favorite}">1234</th:block>
                        </span>
                        <span class="u-view">
                            <i class="iconfont icon-bubble"></i>
                            <th:block th:text="${answer.counter.comment}">comment</th:block>
                        </span>
                    </div>
                </div>
                <article class="post-content">
                    <p th:utext="${#strings.replace(answer.answerInfo.content,'&#10;','&lt;br&gt;')}">{{ answer_info.content|linebreaksbr }}</p>
                    <th:block th:each="img : ${answer.answerInfo.imgList}">
                        <div class="post-image" style="position: relative; ">
                            <img class="article-img"
                                 src="http://img.hhz1.cn/App-imageShow/o_phbig/cee/2db9621sw2p800000p88zrm"
                                 th:src="${img.picUrl}"
                            />
                        </div>
                    </th:block>
                </article>

                <div th:replace="common/like :: like(info=${answer.answerInfo}, id=${answer.answerInfo.id}, objType='answer', counter=${answer.counter})">LIKE</div>
            </div>

            <div th:replace="comment/doComment :: doComment">doComment</div>
            <div th:replace="comment/commentBlock :: topComment(hotComment=${hotComment})"></div>
            <div th:replace="comment/commentBlock :: hotComment(hotComment=${hotComment})"></div>
            <div th:replace="comment/commentBlock :: comment(multiComment=${comments})"></div>
        </main>
    </div>
</section>
<div th:replace="common/common :: footerJs"></div>
</body>
</html>